
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.justify-text {
  text-align: justify;
}

body ul.custom-list.browser-default {
  list-style-type: disc !important;
  padding-left: 20px !important;
}

.contact-icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contact-icon {
  margin: 0 10px;
}


.sidenav {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #29b0f4;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidenav.open {
  left: 0;
}

.sidenav a {
  display: block;
  padding: 16px;
  color: #fff;
  text-decoration: none;
}

.sidenav a:hover {
  background-color: #95f7e019;
}

nav .sidenav-trigger {
  cursor: pointer;
}

nav .sidenav-trigger i {
  color: #fff;
}
body {
  transition: none !important; 
}